
/* Fonts */
@font-face {
    font-family: FreightSansMedium;
    src: url('../assets/fonts/FreightSans-Book.ttf');
}
@font-face {
    font-family: FreightSansSemiBold;
    src: url('../assets/fonts/FreightSans-Medium.ttf');
}

/* Site Container: dont allow to spread full screen if too wide */
.container{
	max-width: 1080px;
	margin: 0 auto;
	overflow: auto;
}

/* Navigation/Header */
	nav{
		overflow: auto;
	}
	nav.banner-gray{
		background: #EAEAEA;
	}

	/* Top Banner */
	.banner-left-content{
		float: left;
	}
	.banner-right-content{
		float: right;
	}

/* Logos */
	.stone-logo{
	    width: 10em;
	    padding: 4px 0;
	}
	.city-sync-logo{
	    width: 8em;
    	padding: 5px 4px;
	}

	/* Play button */
	.play-button{
		width: 4em;
		cursor: pointer;
	}
	.play-button:hover{
		opacity: .6;
	}


/* Sections */
	section.section-double-padding{
		padding: 1em 1em 3em;
	}
	section.center{
		margin: 0 auto;
		text-align: center;
	}
	section.section-white{
		background-color: white;
	}
	section.section-gray{
		background-color: #EAEAEA;
	}
	section.section-blue{
		background-color: #003C5A;
	}
	section.section-light-blue{
		background-color: #79A2B2;
	}

	/* video section */
		#video-section{
			margin: 0 auto;
			margin-top: -2em;
		}
		#video-section h2{
			font-family: FreightSansMedium;
			-webkit-font-smoothing: antialiased;
			color:#003C5A;
			padding: 12px 0;
		}
		.video-container{
		    background: #003C5A;
		    height: 16em;
		}
		.video-container h3{
			font-family: Raleway;
			font-size: 2em;
			color: white;
			-webkit-font-smoothing: antialiased;
		}

		/* Icon Section */
		.three-icon-info{
			margin: 0 auto;
			margin-top:1em;
		}
		.three-icon-info > div.col-3 > img{
			width: 4em;
		}
		.three-icon-info h5{
			font-family: Raleway;
			font-size: 18px;
		    color: #79A2B2;
		    line-height: 26px;
		    -webkit-font-smoothing: antialiased;
		    margin-top: 12px;
		}

	/* opportunities */
		.opportunities .col-2{
			padding: 1em;
		}

	/* content boxes */
		.box{
		}
		.box-gray{
			background-color: #EAEAEA;
		}
		.box-blue{
			background-color: #003C5A;
		}
		.box-container{
			padding: 2em;
		}
		.box h5{
			color: #003C5A;
			font-size: 17px;
			margin: 0;
			font-family: Raleway;
			-webkit-font-smoothing: antialiased;
		}
		.box h3{
			font-family: Raleway;
			-webkit-font-smoothing: antialiased;
			color: #003C5A;
			font-size: 26px;
			margin: 0;
	    	margin-top: 6px;
		}
		.box p{
			color: #78909C;
			font-size: 17px;
			line-height: 25px;
			font-family: Raleway;
			-webkit-font-smoothing: antialiased;
		}
		.box .btn-default{
			width: 9em;
			padding: 12px;
		    font-size: 12px;
		    border-radius: 10px;
		}
		.box .btn-inline-group{
			margin-top: 2em;
		}
		.box .btn-inline-group .btn-default{
			margin-right: 2px;
		}

		/* Box - more info */
			.box-more-info{
				padding: 1em 17px;
				border-bottom: 5px solid #79A2B2;
			}
			.box-more-info .col-2{
				padding: 1em;
			}
			.box-more-info .col-2 h6:nth-of-type(1){
				margin-bottom: 3em;
			}
			.box-more-info h5, 
			.box-more-info h6{
				margin: 0;
				font-family: Raleway;
				-webkit-font-smoothing:antialiased;
				font-size: 12px;
			}
			.box-more-info h5{
				letter-spacing: 2px;
				color: #79A2B2;
				margin-bottom: 4px;
				text-transform: uppercase;
			}
			.box-more-info h6{
				color: #F0F2F3;
				font-size: 14px;
			}


/* Rows & Columns */
	.row{
		overflow: auto;
	}
	.col-2{
		padding: 1em;
		vertical-align:top;
	}
	.col-3{
		padding: 1em;
		vertical-align:top;
	}
	.col-5{
		padding: 1em;
		vertical-align:top;
	}

	/*	Column custom styling */
	.border-right-light-blue:nth-of-type(1),
	.border-right-light-blue:nth-of-type(3){
		border-right: 1px solid #CFD8DC;
	}

	
/* Buttons */
	.btn-default{
		border-radius: 12px;
	    border: 0;
	    background-color: #EAEAEA;
	    cursor: pointer;
	    padding: 10px 12px;
		font-family: Raleway;
		font-weight: 800;
		-webkit-font-smoothing: antialiased;
		text-transform: uppercase;
		font-size: 10px;
		color: #F8F9F9;
		letter-spacing: 2px;
	}
	.btn-blue{
		background-color: #003C5A;
		color: white;
	}
	.btn-blue:hover{
		background-color: #79A2B2;
	}


/* Search Bar */
	div.search-bar{
		background-color: white;
		padding: 10px;
		overflow: auto;
	}
	div.search-bar input{
		border: 0;
		width: 70%;
		float: left;
		font-size: 18px;
    	margin-top: 8px;
    	color: #003C5A;
    	outline: none;
    	font-family: FreightSansMedium;
    	-webkit-font-smoothing: antialiased;
	}
	div.search-bar button{
		float: right;
		width: 30%;
    	outline: none;
	}
	#search-helper-text{
		float: right;
		margin-top: 10px;
		color: #003C5A;
		font-size: 16px;
		font-family: Raleway;
		-webkit-font-smoothing: antialiased;
		font-weight: bolder;
	}


/* Footer */
	footer > section{
		padding: 2em;
	}
	footer hr{
    	border: 0;
    	border-top: 1px solid #CFD8DC;
	}
	.footer-container{
		margin: 0 auto;
		text-align: left;
	}
	/*.footer-container ul{
		padding: 0;
		margin-bottom: 0;
	}
	.footer-container ul li{
		list-style-type: none;
		line-height: 35px;
	}
	.footer-container ul li a{
	    text-decoration: none;
		color: #78909C;
		font-size: 15px;
	    font-family: Raleway;
	    -webkit-font-smoothing: antialiased;
	    font-weight: 600;
	}
	.footer-container ul li a:hover{
		background-color: #78909C;
		color: white;
		border-radius: 19px;
	}*/


	.footer-container p{
		text-decoration: none;
		color: #78909C;
		font-size: 15px;
	    font-family: Raleway;
	    -webkit-font-smoothing: antialiased;
	    font-weight: 600;
	    display:inline-block;
	    padding: 5px 8px;
		margin-bottom: -3px;
		cursor: pointer;
	}
	.footer-container p:hover{
		background-color: #78909C;
		color: white;
		border-radius: 19px;
	}
	.footer-container input{
		display: none;
	}
	.footer-container input:checked + p{
		background-color: #78909C;
		color: white;
		border-radius: 19px;
	}
	

	.footer-container h5{
		font-size: 17px;
		color: #78909C;
		font-family: Raleway;
	    -webkit-font-smoothing: antialiased;
		margin: 2em 0 1em;
	}	
	.footer-container h4{
		color:#79A2B2;
		text-transform: uppercase;
		font-family: Raleway;
		font-size: 14px;
		-webkit-font-smoothing: antialiased;
		margin-left: 5px;
	}
	.footer-container h3{
		font-family: FreightSansMedium;
		-webkit-font-smoothing: antialiased;
		color: #79A2B2;
		font-size: 22px;
		text-align: center;
		margin-left: 5px;
	}
	footer div.search-bar{
	    margin: 0 auto;
	}

	/* Footer columns */
		footer .row .col-3,
		footer .row .col-5{
			padding: 0;
	    	padding-right: 1em;
			padding-left: 10px;
		}
		
		footer .row .col-3{
			float: left;
			width: 39%;
			display: inline-block;
		}
		footer .row .col-5{
			float: left;
			display: inline-block;
			width: 39%;
			height: 28em;
		}

	/* Bottom nav */
		footer .footer-msg{
			margin: 0 auto;
			text-align: center;
		}
		footer .footer-msg ul{
			padding: 0;
		}
		footer .footer-msg ul li{
			display: inline-block;
			padding: 15px;
		}
		footer .footer-msg ul li a{
			color: #79A2B2;
			text-decoration: none;
			font-size: 20px;
			font-family: FreightSansSemiBold;
			-webkit-font-smoothing: antialiased
		}


@media screen and (min-width: 375px) {
	footer .row .col-3{
		width: 41%;
	}
	footer .row .col-5{
		width: 41%;
	}
}

@media screen and (min-width: 595px) {
	/* Logos */
		.stone-logo{
			width: 12em;
		    padding: 1em;
		}
		.city-sync-logo{
			width: 10em;
		    padding: 1em;
		}

	/* Misc */
		.btn-default{
		    padding: 18px 12px;
			font-size: 14px;
		}
		div.search-bar input {
		    font-size: 23px;
		    margin-top: 13px;
		}

	/* Footer */
		.footer-container ul li a{
		    padding: 5px;
		}
		footer .row .col-3{
			width: 43%;
		}
		footer .row .col-5{
			width: 43%;
			height: 23em;
		}
}


@media screen and (min-width: 768px) {
	/* Misc */
		section{
			padding: 2em;
		}
		section.section-double-padding {
		    padding: 3em 2em 3em;
		}
		.box .btn-inline-group .btn-default{
			margin-right: 12px;
		}

	/* Columns */
		.col-2{
			display: inline-block;
			width: 45%;
		}
		.col-3{
			display: inline-block;
			width: 27%;
		}
		.col-5{
			width: 14%;
			display: inline-block;
		}

	/* Search Bar */
		div.search-bar{
			padding: 2em;
		}
		div.search-bar input{
			font-size: 2em;
			margin-top: 6px;
		}
		div.search-bar button{
			width: 20%;
		}

	/* Footer */
		footer > section{
			padding: 2px 0 2em;
		}
		.footer-container {
		    width: 90%;
		}
		footer .row .col-3{
			width: 33%;
		}
		footer .row .col-5{
			width: 17%;
		}
		footer .row .col-5{
			height: auto;
		}
		footer .row .col-3:nth-of-type(1){
			padding-left: 0;
		}
		.border-right-light-blue{
			border-right: 1px solid #CFD8DC;
		}

}


@media screen and (min-width: 820px) {
	/* Video */
		.video-container .col-2{
			line-height: 10em;
		}
		.play-button{
			margin-top:5em;
		}
}

@media screen and (min-width: 1000px) {
	.opportunities .col-2{
		padding: 0;
		width: 48%;
	}
	.box-more-info .col-2 {
	    width: 40%; 
	    padding: 1em;
	}
	.opportunities .col-2:nth-of-type(1){
		padding-right: 2.2em;
	}
}


@media screen and (min-width: 1200px) {
	.col-3 {
	    width: 29%;
	}
	section.section-double-padding {
	    padding: 4em 0 4em; 
	}

	/* Footer */
		.footer-container {
		    width: 60%;
		}
		footer .row .col-3 {
		    width: 37%;
		}
}

