

.container{
	max-width: 1080px;
	margin: 0 auto;
}


/* Navigation/Header */
	nav{
		overflow: auto;
	}
	nav.banner-gray{
		background: #EAEAEA;
	}
	



/* Sections */
	
	section.section-double-padding{
		padding: 4em 0 4em;
	}
	section.center{
		margin: 0 auto;
		text-align: center;
	}
	section.section-white{
		background-color: white;
	}
	section.section-gray{
		background-color: #EAEAEA;
	}
	section.section-blue{
		background-color: #003C5A;
	}
	section.section-light-blue{
		background-color: #79A2B2;
	}

	/* video section */
		#video-section{
			width: 90%;
			margin: 0 auto;
		}
		.video-container{
		    background: #003C5A;
		    height: 15em;
		}
		.video-container h3{
			font-family: Raleway;
			font-size: 2em;
			color: white;
			-webkit-font-smoothing: antialiased;
		}

		/* Icon Section */
		.three-icon-info{
			margin: 0 auto;
			margin-top:1em;
		}
		.three-icon-info > div.col-3 > img{
			width: 3.5em;
		}
		.three-icon-info h5{
			font-family: Raleway;
			font-size: 18px;
		    color: #79A2B2;
		    line-height: 26px;
		    -webkit-font-smoothing: antialiased;
		}

	/* opportunities */
	.opportunities .col-2{
		padding: 0;
		width: 48%;
	}
	.opportunities .col-2:nth-of-type(1){
		padding-right: 2.2em;
	}


	/* content boxes */
		.box{
		}
		.box-gray{
			background-color: #EAEAEA;
		}
		.box-blue{
			background-color: #003C5A;
		}
		.box-container{
			padding: 2em;
		}
		.box h5{
			color: #003C5A;
			font-size: 17px;
			margin: 0;
		}
		.box h3{
			font-family: Raleway;
			-webkit-font-smoothing: antialiased;
			color: #003C5A;
			font-size: 26px;
			margin: 0;
	    	margin-top: 6px;
		}
		.box p{
			color: #78909C;
			font-size: 17px;
			line-height: 25px;
		}
		.box .btn-default{
			width: 9em;
		}
		.box .btn-inline-group{
			margin-top: 2em;
		}
		.box .btn-inline-group .btn-default{
			margin-right: 12px;
		}

		/*Box - more info*/
		.box-more-info{
			padding: 1em 17px;
			border-bottom: 5px solid #79A2B2;
		}
		.box-more-info .col-2{
			width: 40%;
			padding: 1em;
		}
		.box-more-info .col-2 h6:nth-of-type(1){
			margin-bottom: 3em;
		}
		.box-more-info h5, 
		.box-more-info h6{
			margin: 0;
			font-family: Raleway;
			-webkit-font-smoothing:antialiased;
			font-size: 12px;
		}
		.box-more-info h5{
			letter-spacing: 2px;
			color: #79A2B2;
			margin-bottom: 4px;
			text-transform: uppercase;
		}
		.box-more-info h6{
			color: #F0F2F3;
			font-size: 14px;
		}




/* ROWS */
	.row{
		overflow: auto;
	}
	.col-2{
		/*display: inline-block;*/
		/*width: 45%;*/
		padding: 1em;
		vertical-align:top;
	}
	.col-3{
		/*display: inline-block;*/
		/*width: 28%;*/
		padding: 1em;
		vertical-align:top;
	}
	.col-5{
		/*width: 14%;*/
		/*display: inline-block;*/
		padding: 1em;
		vertical-align:top;
	}

	/*	Column custom styling */
	.border-right-light-blue:nth-of-type(1),
	.border-right-light-blue:nth-of-type(3){
		border-right: 1px solid #CFD8DC;
	}

	
/* Buttons */
	.btn-default{
		border-radius: 5px;
		border:0;
		background-color: #EAEAEA;
		cursor: pointer;
		padding: 12px;
		font-family: Raleway;
		font-weight: 800;
		-webkit-font-smoothing: antialiased;
		text-transform: uppercase;
		font-size: 12px;
		color: #F8F9F9;
		letter-spacing: 2px;
	}
	.btn-blue{
		background-color: #003C5A;
		color: white;
	}
	.btn-blue:hover{
		background-color: #79A2B2;
	}


/* Search Bar */
	div.search-bar{
		background-color: white;
		/*padding: 2em;*/
		padding: 10px;
		overflow: auto;
	}
	div.search-bar input{
		border: 0;
		width: 70%;
		float: left;
		/*font-size: 2em;*/
		font-size: 18px;
    	margin-top: 8px;
    	color: #003C5A;
    	outline: none;
	}
	div.search-bar button{
		float: right;
		/*width: 20%;*/
		width: 30%;
    	outline: none;
	}
	#search-helper-text{
		float: right;
		margin-top: 10px;
		color: #003C5A;
		font-size: 18px;
	}


/* Footer */
	footer{
		padding: 2em 0 0em;
	}
	footer > section{
		/*padding: 5em 0 5em;*/
		padding: 2em;
	}
	footer hr{
    	border: 0;
    	border-top: 1px solid #CFD8DC;
	}
	.footer-container{
		/*width: 60%;*/
		margin: 0 auto;
		text-align: left;
	}
	.footer-container ul{
		padding: 0;
	}
	.footer-container ul li{
		list-style-type: none;
		line-height: 35px;
	}
	.footer-container ul li a{
	    text-decoration: none;
	    padding: 5px;
		color: #78909C;
		font-size: 17px;
	}
	.footer-container ul li a:hover{
		background-color: #78909C;
		color: white;
		border-radius: 19px;
	}
	.footer-container h5{
		font-size: 17px;
		color: #78909C;
	}
	.footer-container h4{
		color:#79A2B2;
		text-transform: uppercase;
		font-family: Raleway;
		font-size: 14px;
		-webkit-font-smoothing: antialiased
	}
	footer div.search-bar{
	    margin: 0 auto;
	}

	/* Footer columns */
		footer .row .col-3,
		footer .row .col-5{
			padding: 0;
	    	padding-right: 1em;
			padding-left: 10px;
		}
		footer .row .col-3{
			/*width: 35%;*/
			float: left;
			width: 39%;
			display: inline-block;

		}
		footer .row .col-5{
			/*padding-left: 10px;*/
			/*width: 17%;*/
			float: left;
			display: inline-block;
			width: 39%;
			height: 29em;
		}

	/* Bottom nav */
		footer .footer-msg{
			margin: 0 auto;
			text-align: center;
		}
		footer .footer-msg ul{
			padding: 0;
		}
		footer .footer-msg ul li{
			display: inline-block;
			padding: 15px;
		}
		footer .footer-msg ul li a{
			color: #79A2B2;
			text-decoration: none;
			font-size: 23px;
		}
		/*footer .footer-msg ul li:after{
			content:' | ';
		}*/


@media screen and (min-width: 375px) {
		footer .row .col-3{
			width: 41%;
		}
		footer .row .col-5{
			width: 41%;
		}
}

@media screen and (min-width: 595px) {
	.banner-left-content{
		float: left;
	}
	.banner-right-content{
		float: right;
	}

	footer .row .col-3{
		width: 43%;
	}
	footer .row .col-5{
		width: 43%;
	}
}


@media screen and (min-width: 768px) {
	section{
		padding: 2em;
	}

	.col-2{
		display: inline-block;
		width: 45%;
	}
	.col-3{
		display: inline-block;
		width: 27%;
	}
	.col-5{
		width: 14%;
		display: inline-block;
	}

	div.search-bar{
		padding: 2em;
	}
	div.search-bar input{
		font-size: 2em;
		margin-top: 2px;
	}
	div.search-bar button{
		width: 20%;
	}

	footer > section{
		padding: 5em 0 5em;
	}


	.footer-container {
	    width: 90%;
	}
	footer .row .col-3{
		width: 33%;
	}
	footer .row .col-5{
		width: 17%;
	}
	.border-right-light-blue{
		border-right: 1px solid #CFD8DC;
	}

}


@media screen and (min-width: 1200px) {
	.col-3 {
	    width: 29%;
	}
	
	footer .row .col-3 {
	    width: 39%;
	}
}

